@use "../styles/theme.scss";

:local(.official-site-links-sidebar) {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: theme.$white;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 320px;
  z-index: 100;

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    border: none;
    border-right: 1px solid var(--border1-color);
  }
}

:local(.official-site-links-sidebar-button-list-item) {
  padding: 0;
  height: 52px;

  &:hover {
    background-color: #E15F6D;
  }
}

:local(.official-site-links-sidebar-link) {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  color: theme.$white;
  align-items: center;

  &:hover {
    color: white;
  }

  svg {
    *[stroke=\#000] {
      stroke: white;
    }

    *[fill=\#000] {
      fill: white;
    }

    margin-right: 5px;
  }
}
