@use '../styles/theme';

:local(.toolbar) {
  height: 96px;
  display: flex;
  padding: 12px;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  border-top: 1px solid theme.$border1-color;

  @media (min-width: theme.$breakpoint-lg) {
    padding: 12px 24px;
    justify-content: space-between;
  }
}

:local(.customToolbar) {
  @media (max-width: theme.$breakpoint-sm) {
    position: relative;
    overflow-y: hidden;
    padding: 12px 0px;
  }
}

:local(.content) {
  display: flex;
  flex: 1;
  justify-content: space-around;

  @media (min-width: theme.$breakpoint-lg) {
    flex: 0;

    & > * {
      margin-right: 24px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

:local(.centerContent) {
  @media (max-width: theme.$breakpoint-sm) {
    position: absolute;
    width: 570px;
    padding: 0px 15px;
  }
}

:local(.starWrapper) {
  position: absolute;
  height: 96px;
  width: 100%;
  overflow: hidden;
}

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value}, #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

@keyframes animStar {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-1000px); }
}

:local(.smallStar) {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

:local(.mediumStars) {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

:local(.bigStars) {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
