@use "../styles/theme.scss";

:local(.tos-link) {
  color: #1EA092;

  &:hover {
    color: #1EA092;
    filter: brightness(1.1);
    transition: filter .2s ease-out;
  }
}

:local(.privacy-link) {
  color: #1EA092;

  &:hover {
    color: #1EA092;
    filter: brightness(1.1);
    transition: filter .2s ease-out;
  }
}