@use "../styles/theme.scss";

:local(.spinner) {
  animation: rotate 3s infinite linear;

  *[stroke=\#000] {
    stroke: #E15F6D;
  }

  *[fill=\#000] {
    fill: #E15F6D;
  }

  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
}