@use "../styles/theme.scss";

:local(.sign-out-button) {
  margin-left: 15px;
  padding: .375rem .625rem .5rem;
  line-height: 1.5;
  text-align: center;
  background-color: #1EA092;
  border: none;
  color: theme.$white;

  &:hover {
    background-color: #1EA092;
    color: theme.$white;
    filter: brightness(1.3);
    transition: filter .2s ease-out;
  }
}
